.main {
    display: flex;
    flex-direction: row;
}

.canvas {
    width: 50%;

}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    width: 50%;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 15px;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #EBEAEA;
    justify-content: space-between;
}

.headerInnerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    border-bottom: 1px solid #EBEAEA;
    padding-top: 15px;
}

.innerWrapper h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.06em;
    margin: 0;
    color: #222222;
}

.dataWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 15px;
    width: 100%;
}

.buttonPanel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    border-top: 1px solid #EBEAEA;
    padding: 15px 30px;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;

}

.progressBar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:
            radial-gradient(closest-side, white 79%, transparent 80% 100%),
            conic-gradient(#F7634A 75%, white 0);
}

.progressBar::before {
    content: "75%";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.06em;
    color: #000000;
}


.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 30px;
    width: 100%;
}

.formInnerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 15px;
    width: 100%;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 15px;
    width: 100%;
}

.label {
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.06em;
    font-size: 16px;
    line-height: 20px;
    color: #787878;
}

.input {
    height: 47px;
    border: 1.5px solid #EBEAEA;
    border-radius: 5px;
    padding: 0 15px;
    width: calc(100% - 33px);
}

input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #B8B8B7;
}

.input:focus {
    background: #F2F2F2;
    border: 1.5px solid #EBEAEA;
}

input:focus-visible {
    outline: unset;
}

@media screen and (max-width: 985px) {
    main {
        display: flex;
    }

    .data {
        width: 100%;
        padding: 0;
    }

    .canvas {
        display: none;
    }
}
